<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Simple Login Widget</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.5">

  
  <link rel='stylesheet' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500'>
<link rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100'>

      <link rel="stylesheet" href="css/stylealt.css">

  
</head>

<body>

  <div id="successful_login" class="fix-middle">
  <div class="container text-center">
    <h1>Welcome back to the internet!</h1>
    <p>You've successfully managed to log into a nonexistant account in order to test a login dialog box.<br> If you like it, you are welcomed to use it wherever you want, no strings attached.<br><br><a href="#" class="link dialog-reset">Rerun the whole thing.</a></p>
  </div>
</div>
<div id="successful_registration" class="fix-middle">
  <div class="container text-center">
    <h1>Welcome to the internet!</h1>
    <p>You've successfully managed to register for a nonexistant account in order to test a registration dialog box.<br> If you like it, you are welcomed to use it wherever you want, no strings attached.<br><br><a href="#" class="link dialog-reset">Rerun the whole thing.</a></p>
  </div>
</div>

<div id="dialog" class="dialog dialog-effect-in">
  <div class="dialog-front">
    <div class="dialog-content">
      <div>
        <h1>Utech watson assistant</h1>
      </div>
    </div>
  </div>
</div>
  <script src='vendor/jquery/jquery-3.2.1.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
